<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.plan.repository.PlanRepository">

  <resultMap id="planMap" type="planDto">
    <result column="user_id" property="userId"/>
    <result column="plan_id" property="planId"/>
    <result column="plan_title" property="planTitle"/>
    <result column="recommend_count" property="recommendCount"/>
    <result column="hit" property="hit"/>
    <result column="create_time" property="createTime"/>
  </resultMap>

  <insert id="insertPlan" parameterType="map" useGeneratedKeys="true" keyColumn="plan_id"
    keyProperty="planId">
    INSERT INTO trip_plan (user_id, plan_title, start_date, end_date)
    VALUES (#{userId},
            #{planTitle},
            #{startDate},
            #{endDate});
  </insert>

  <insert id="insertPlanDetail" parameterType="map">
    INSERT INTO trip_plan_detail(plan_id, content_id, priority) VALUES
    <foreach collection="contentIdList" item="contentId" index="index" separator=",">
      (#{planId}, #{contentId}, #{index})
    </foreach>
  </insert>

  <select id="getPlan" resultMap="planMap">
    SELECT * FROM trip_plan
    <if test='key != "" and key != null'>
      <if test='word != "" and word != null'>
        WHERE ${key} LIKE concat('%', #{word}, '%')
      </if>
    </if>
    <if test='order != "" and order != null'>
      ORDER BY ${order} DESC
    </if>
    LIMIT #{offset}, #{limit};
  </select>

  <select id="getAttractionsByPlanId" resultType="map">
    SELECT *
    FROM attraction_info
    WHERE content_id IN
          (SELECT content_id
           FROM trip_plan_detail
           WHERE plan_id = #{planId}
           ORDER BY priority ASC);
  </select>


  <select id="getPlanByPlanId" resultMap="planMap">
    SELECT *
    FROM trip_plan
    WHERE plan_id = #{planId};
  </select>

  <insert id="insertPlanRecommend">
    INSERT INTO plan_recommend(user_id, plan_id)
    VALUES (#{userId}, #{planId});
  </insert>

  <delete id="deletePlanRecommend">
    DELETE
    FROM plan_recommend
    WHERE user_id = #{userId}
      AND plan_id = #{planId};
  </delete>

  <update id="updatePlanRecommend">
    UPDATE trip_plan
    SET recommend_count = recommend_count + ${value}
    WHERE plan_id = #{planId};
  </update>

  <select id="getPlanByUserId" resultMap="planMap">
    SELECT *
    FROM trip_plan
    WHERE user_id = #{userId};
  </select>

  <select id="getContentIdByPlanId" resultType="string">
    SELECT content_id
    FROM trip_plan_detail
    WHERE plan_id = #{planId}
    ORDER BY priority ASC;
  </select>

  <delete id="deletePlanByUserIdAndPlanId">
    DELETE
    FROM trip_plan
    WHERE user_id = #{userId}
      AND plan_id = #{planId};
  </delete>

  <select id="getPlanByPlanIdAndUserId" resultMap="planMap">
    SELECT *
    FROM trip_plan
    WHERE user_id = #{userId}
      AND plan_id = #{planId}
  </select>

  <select id="getRecommendByUserId" resultType="string">
    SELECT plan_id
    FROM plan_recommend
    WHERE user_id = #{userId};
  </select>
</mapper>